body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #3F3D3B;
}

#pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inventory
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 15%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#calculate
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 35%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#client
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 55%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#financial
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 75%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#order
{
    background: #C4C4C4;
    position: absolute;
    width: 20%;
    height: 50%;
    top: 30%;
    left: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
}

#submit
{
    position: absolute;
    left: 30%;
    top: 90%;
    width: 150px;
    height: 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

#ingredients
{
    position: absolute;
    left: 31%;
    top: 30%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    background: #C4C4C4;
    width: 60%;
    height: 50%;
    align-items: center;
    text-align: center;
}

/* #banana
{
    position: absolute;
    left: 10%;
}

#banana2
{
    position: absolute;
    left: 16%;
    top: 16%;
}

#sugar
{
    position: absolute;
    left: 10%;
    top: 70%;
}

#sugar2
{
    position: absolute;
    left: 15%;
    top: 74%;
} */
