<<<<<<< HEAD
body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #3F3D3B;
}

#pic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inventory
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 15%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#calculate
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 35%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#client
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 55%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#financial
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 75%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#client2
{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 40%;
    left: 30%;
    background: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
}

#done
{
    position: absolute;
    top: 90%;
    left: 45%;
}
=======
body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #3F3D3B;
}

#pic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inventory
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 15%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#calculate
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 35%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#client
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 55%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#financial
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 75%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#client2
{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 40%;
    left: 30%;
    background: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
}

#done
{
    position: absolute;
    top: 90%;
    left: 45%;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #3F3D3B;
}

#pic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inventory
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 5%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#calculate
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 25%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#client
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 45%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}

#financial
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 65%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}
#orders
{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 85%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}
#addIngredient
{
    width: 150px;
    height: 36px;
    left: 75%;
    top: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3F3D3B;
}


.dropbtn {
  background: #C4C4C4;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  width: 150px;
    height: 36px;
    left: 47%;
    top: 25%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.tg  {border-collapse:collapse;border-spacing:0; position: absolute;
    width: 150px;
    height: 36px;
    top: 40%;
    background: #C4C4C4;
    border-collapse: collapse;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:9px 13px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:9px 13px;word-break:normal;}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  
>>>>>>> first commit
