body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #3F3D3B;
}

#pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title
{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;  
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

#InvSys
{
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#border
{
    border: 1px solid #FFFFFF;
}

#login
{
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
}

#block1
{
    position: absolute;
    width: 204px;
    height: 90px;
    left: 30%;
    top: 50%;
    background: #C4C4C4;
    border-radius: 10px;
}

#block2
{
    position: absolute;
    width: 204px;
    height: 90px;
    left: 60%;
    top: 50%;
    background: #C4C4C4;
    border-radius: 10px;
}

.user
{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #000000;
}